/* Site Footer */

.site-footer {
	color: $grey-med;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 40px 0;
	padding: 4rem 0;
	text-align: center;
	p {
		margin: 0;
	}
	a {
	}
}

.footer-widgets {
	background: #333;
	padding-bottom: 0;
	padding: 50px 0 25px 0;
	p, a {
		font-size: 16px;
	}
	a {
		color: #FF6699;
	}
	.widget-wrap {
		ul li {
			border-bottom: 2px dotted $grey-med;
			padding: 10px 0;
		}
	}
}