/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px;
	padding: 1.6rem;
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #333;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	padding: 16px 24px;
	padding: 1.6rem 2.4rem;
	text-transform: uppercase;
	width: auto;
	&:hover {
		background: #1d4eb0;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}