/*
Home Widgets
---------------------------------------------------------------------------------------------------- */

#home-middle,
#home-featured,
#home-bottom {
	clear: both;
	.widget-title {
		margin-top: 50px;
	}
}

.home-middle-1,
.home-middle-3 {
	width: 350px;
}

.home-middle-2 {
	width: 360px;
}

.home-middle-1 {
	margin-right: 40px;
}

.home-middle-1,
.home-middle-2 {
	float: left;
}

.home-middle-3 {
	float: right;
}

#home-middle a {
	color: #999;
	&:hover {
		color: #ccc;
	}
}

#home-middle .widget {
	// margin-bottom: 24px;
	// margin-bottom: 2.4rem;
}

#home-middle .widgettitle {
	color: #666;
}

#home-middle li {
	list-style-type: none;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
}

#home-middle .search-form {
	width: 100%;
}

// Featured Products

.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li {
	display: inline-block;
	margin: 0 1.53%;
	// &:last-child {
	// 	margin-right: 0;
	// }
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
	float: none;
	display: block;
	width: 250px;
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}