/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	color: #999;
}

.enews-widget .widgettitle {
	color: #999;
}

.enews-widget input {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

.enews-widget input[type="submit"] {
	background: #1d4eb0;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background: #fff;
	color: #333;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* Gravity Forms
--------------------------------------------- */


.site-inner div.gform_wrapper input[type="text"],
.site-inner div.gform_wrapper input[type="tel"],
.site-inner div.gform_wrapper input[type="email"],
.site-inner div.gform_wrapper textarea,
.site-inner div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 12px;
	padding: 0.75rem;
}


.site-inner div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
	margin: 1.6rem 0 0;
}

.site-inner div.gform_wrapper input[type="submit"] {
	font-size: 14px;
	font-size: 1.4rem;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 0;
}