
/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Featured Page and Featured Post
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
	padding: 0;
}